.entries
  list-style: none

.entry
  padding: 1rem 0

.title
  font-weight: bold

.pagination

.pagination > *
  display: flex
  flex-wrap: wrap
  flex-direction: row
  margin: 0
  justify-content: center

  .disabled
    color: #c0c0c0
