// Container
$z-index: 1

// Widget
// As we rotate two of the hamburger "bars" by 45degrees,
// we prepare all the calculation here
$widget-width: 2rem
$widget-height: 1.5rem
$inclined-glyph-angle: 45deg
$sin-45deg: 0.7071
$glyph-top: 1rem
$glyph-left: 1rem
$glyph-height: 0.3rem
$glyph-border-radius: calc($glyph-height / 2)
$glyph1-top: $glyph-top
$glyph2-top: calc($glyph1-top + ($widget-height - $glyph-height) / 2)
$glyph3-top: calc($glyph1-top + $widget-height - $glyph-height)
$glyph-inclined-length: calc($widget-height / $sin-45deg - $glyph-height)
$glyph-inclined-scaling: calc($glyph-inclined-length / $widget-width)
$glyph-inclined-width: $widget-height
$glyph-width-difference: calc($widget-width - $glyph-inclined-width)
$glyph-inclined-offset: calc($glyph-height * $sin-45deg + $glyph-width-difference / 2)
$top-bar-height: calc($glyph-top + $widget-height + 1rem)
$widget-right: calc($glyph-left + $widget-height)

// Menu
$menu-font-size: 2rem
$menu-width: 12rem
$menu-padding-left: 1rem
$menu-padding-top: 3rem
$menu-padding-right: 0
$menu-border: 0.1rem
$menu-top-offset: -3rem
$hidden-menu-translation-y: calc(-100% + $menu-top-offset)
$showing-menu-translation-y: $menu-top-offset

// Menu Colours
$link-color: #555
$link-hover-color: black

.container
  position: relative
  top: 0
  left: 0
  margin: 0
  z-index: $z-index
  width: 100%
  height: $top-bar-height
  background: var(--strong-color)

  @media (min-width: 700px)
    overflow: visible
    display: flex

  & a
    text-decoration: none

  // Stop the transition from firing on page load
  // Only fire on hover
  &:hover > .menu
    transition: transform 0.5s ease

  .menu
    position: relative
    top: 0
    left: 0
    width: 100%
    padding: $menu-padding-top $menu-padding-right 0.5rem $menu-padding-left
    font-size: 8rem
    list-style-type: none
    background-color: white
    z-index: 1
    overflow: hidden
    transform: translate(0, $hidden-menu-translation-y)

    @media (min-width: 700px)
      width: max-content
      height: 100%
      font-size: inherit
      list-style: none
      transform: none
      transition: none
      margin: 0
      padding: 0
      border: 0
      background: transparent
      display: flex
      justify-content: center
      align-items: center

    .item
      padding: 0.4rem 0
      min-width: 100%

      @media (min-width: 700px)
        padding: 0 0.8rem
        min-width: auto

      a
        text-decoration: none
        color: $link-color
        transition: color 0.3s ease
        line-height: 200%
        font-size: $menu-font-size

        @media (min-width: 700px)
          color: var(--background-color)
          font-size: 1.2rem

    .current-item
      @extend .item

      a
        font-weight: bolder

        @media (min-width: 700px)
          filter: brightness(800%)

  .trigger
    opacity: 0
    position: absolute
    top: $glyph1-top
    left: $glyph-left
    width: $widget-width
    height: $widget-height
    margin: 0
    border: 0
    cursor: pointer
    z-index: 3

    @media (min-width: 700px)
      display: none

  .glyph
    position: absolute
    left: $glyph-left
    width: $widget-width
    height: $glyph-height
    border-radius: $glyph-border-radius
    transition: transform 0.5s, opacity 0.4s ease
    background: var(--background-color)
    z-index: 2

    @media (min-width: 700px)
      display: none

  .glyph1
    @extend .glyph
    top: $glyph1-top
    transform-origin: 0 0

  .trigger:checked ~ .glyph1
    transform: translate($glyph-inclined-offset, 0) rotate($inclined-glyph-angle) scaleX($glyph-inclined-scaling)
    background: var(--text-color)

  .glyph2
    @extend .glyph
    opacity: 1
    top: $glyph2-top

  .trigger:checked ~ .glyph2
    opacity: 0

  .glyph3
    @extend .glyph
    top: $glyph3-top
    transform-origin: 0 $glyph-height

  .trigger:checked ~ .glyph3
    transform: translate($glyph-inclined-offset, 0) rotate(-$inclined-glyph-angle) scaleX($glyph-inclined-scaling)
    background: var(--text-color)

  .trigger:checked ~ .menu
    transform: translate(0, $showing-menu-translation-y)

  .logo
    position: relative
    left: calc($widget-right + 1rem)
    top: 1.0rem
    padding: 0 0 0 0.5rem
    width: 10rem
    height: 1.5rem
    display: flex
    justify-content: center
    align-items: center

    @media (min-width: 700px)
      left: auto
      top: auto
      width: 3rem
      padding-left: 0.25rem

    .logoPrefix, .logoSuffix
      font-size: 2rem
      color: var(--background-color)

      @media (min-width: 700px)
        display: none

    .icon
      position: relative
      top: 0.2rem

      @media (min-width: 700px)
        top: 0.9rem

    text
      font-size: 96px
      fill: var(--strong-color)

    circle
      fill: var(--background-color)