:root {
  --max-width: 1100px;
  --border-radius: 12px;

  /* Navigation */
  --svizzerina-menu-font-size: 1.2rem;
  --svizzerina-glyph-left: 8px;

  /* Colours */
  --text-colour: #060400;
  --strong-colour: #063d71;
  --background-colour: #d8e8f0;
  --link-color: #063d71;
  --link-hover-color: blue;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: large;
  color: var(--text-colour);
  background: var(--background-colour);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

strong {
  color: var(--strong-colour);
}
