.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  min-height: 100vh;
}

.title {
  text-align: center;
  padding-bottom: 1rem;
}

.subtitle {
  text-align: center;
}

.body {
}

.body h1 {
  padding-bottom: 1rem;
}

.body p {
  padding-bottom: 0.6rem;
}

.body ul {
  margin-left: 20px;
}

.body li {
  line-height: 1.1;
}

.footer {
  text-align: center;
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

/* Desktop */
@media (min-width: 1121px) {
  .main {
    padding: 2rem;
  }
}
