.desktop-nav {
  display: none;
}

/* size >= Tablet */
@media (min-width: 700px) {
  .desktop-nav {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
  }
}

.mobile-nav {
}

/* size >= Tablet */
@media (min-width: 700px) {
  .mobile-nav {
    display: none;
  }
}
