.subtitle
  text-align: center

.cta
  margin: 1rem 1rem 1rem auto
  padding: 1rem
  width: 11rem
  border-radius: 0.5rem
  font-size: 2rem
  font-weight: bold
  background: var(--strong-colour)
  color: var(--background-colour)
