.events
  padding: 2rem 1rem 1rem 1rem
  list-style: none

.event
  border: 0.5rem

  .event-inner
    display: flex
    color: var(--text-colour)

    .text
      padding: 0 0.5rem 0 0
      flex: 70%

      .date
        padding-bottom: 1rem

    img
