.wrap
  display: flex
  justify-content: center

.main
  display: flex
  flex-direction: column
  justify-content: flex-start
  padding: 2rem 1rem 0 1rem
  min-height: 100vh

  @media (min-width: 700px)
    padding: 3rem 1rem
    width: var(--desktop-width)
