$svizzerina-glyph-left: var(--svizzerina-glyph-left, 4px)
$svizzerina-glyph-top: var(--svizzerina-glyph-top, 4px)
$svizzerina-link-color: var(--svizzerina-link-color, #555)
$svizzerina-link-hover-color: var(--svizzerina-link-hover-color, black)
$svizzerina-menu-color: var(--svizzerina-menu-color, white)
$svizzerina-menu-font-size: var(--svizzerina-menu-font-size, 1rem)
$svizzerina-menu-width: var(--svizzerina-menu-width, 160px)
$svizzerina-z-index: var(--svizzerina-z-index, 1)

$inclined-glyph-angle: 45deg
$sin-45deg: 0.7071
$svizzerina-margin: 0px
$svizzerina-height: 20px
$svizzerina-width: 32px

$menu-padding-left: 30px
$menu-padding-right: 10px
$menu-border-left-width: 1px
$menu-border-right-width: 1px

$svizzerina-left: calc($svizzerina-width + $svizzerina-margin)
$menu-translation-x: calc($svizzerina-left - $svizzerina-menu-width)
$hidden-menu-translation-y: -100%
$showing-menu-translation-y: 0
$showing-menu-x: -$svizzerina-margin

$glyph-height: 4px
$glyph-border-radius: calc($glyph-height / 2)
$glyph1-top: $svizzerina-glyph-top
$glyph2-top: calc($glyph1-top + ($svizzerina-height - $glyph-height) / 2)
$glyph3-top: calc($glyph1-top + $svizzerina-height - $glyph-height)
$glyph-left: $svizzerina-glyph-left
$glyph-right: 4px
$glyph-inclined-length: calc($svizzerina-height / $sin-45deg - $glyph-height)
$glyph-inclined-scaling: calc($glyph-inclined-length / $svizzerina-width)
$glyph-inclined-width: $svizzerina-height
$glyph-width-difference: calc($svizzerina-width - $glyph-inclined-width)
$glyph-inclined-offset: calc($glyph-height * $sin-45deg + $glyph-width-difference / 2)

.container
  position: absolute
  top: 0
  left: 0
  margin: 0
  width: $svizzerina-width
  z-index: $svizzerina-z-index

  .trigger
    opacity: 0
    position: absolute
    top: $glyph1-top
    left: $glyph-left
    width: $svizzerina-width
    height: $svizzerina-height
    margin: 0
    border: 0
    cursor: pointer
    z-index: 3

    @media (min-width: 700px)
      display: none

  .glyph
    position: absolute
    left: $glyph-left
    width: $svizzerina-width
    height: $glyph-height
    border-radius: $glyph-border-radius
    transition: transform 0.5s, opacity 0.4s ease
    background: #333
    z-index: 2

    @media (min-width: 700px)
      display: none

  .glyph1
    @extend .glyph
    top: $glyph1-top
    transform-origin: 0 0

  .trigger:checked ~ .glyph1
    transform: translate($glyph-inclined-offset, 0) rotate($inclined-glyph-angle) scaleX($glyph-inclined-scaling)

  .glyph2
    @extend .glyph
    opacity: 1
    top: $glyph2-top

  .trigger:checked ~ .glyph2
    opacity: 0

  .glyph3
    @extend .glyph
    top: $glyph3-top
    transform-origin: 0 $glyph-height

  .trigger:checked ~ .glyph3
    transform: translate($glyph-inclined-offset, 0) rotate(-$inclined-glyph-angle) scaleX($glyph-inclined-scaling)

  .menu
    position: absolute
    top: $showing-menu-x
    left: 0
    margin: 0
    width: $svizzerina-menu-width
    padding: 50px $menu-padding-right 20px $menu-padding-left
    border: 0 solid #888
    border-bottom-width: 1px
    border-right-width: $menu-border-right-width
    border-radius: 0 0 .4rem 0
    list-style-type: none
    transform: translate(0, $hidden-menu-translation-y)
    transition: transform 0.5s ease
    background-color: $svizzerina-menu-color
    z-index: 1

    @media (min-width: 700px)
      top: 5px
      left: 5px
      width: auto
      transform: none
      transition: none
      border: 0
      padding: 0
      background-color: inherit

  .trigger:checked ~ .menu
    transform: translate(0, $showing-menu-translation-y)

  .menu a
    text-decoration: none
    color: $svizzerina-link-color
    transition: color 0.3s ease
    font-size: $svizzerina-menu-font-size
    padding: 5px 0

    @media (min-width: 700px)
      color: inherit

  .menu a:hover
    color: $svizzerina-link-hover-color
